<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/adaptive_index.css' %}">
    <script src="https://kit.fontawesome.com/140219e2b5.js" crossorigin="anonymous"></script>
</head>

<body>
    <header id="header">
        <div class="wrapper">
            <div class="inner">
                <div class="flex">
                    <div class="logo">
                        <a href="/"><img src="{% static 'img/logo.png' %}" alt="logo" width="100%"></a>
                    </div>
                    <nav>
                        <a href="login"><img src="{% static 'img/icons/user.png' %}" alt=""></a>
                        <a href="orders"><img src="{% static 'img/icons/shopping-bag.png' %}" alt=""></a>
                        <a href="favorite"><img src="{% static 'img/icons/heart.png' %}" alt=""></a>
                        <a href="sale"><img src="{% static 'img/icons/shopping-cart.png' %}" alt=""></a>
                    </nav>
                    <div class="search-header">
                        <input type="text" placeholder="Искать товары:">
                        <button><img src="{% static 'img/icons/search.png' %}" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="header-mobile">
        <div class="wrapper">
            <div class="flex">
                <div class="logo-mobile" onclick="return_top()">
                    <img src="{% static 'img/logo.png' %}" alt="logo" width="100%">
                </div>
                <div class="burger-menu" onclick="open_close()">
                    <div class="menu-inner">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="burger-links">
            <div class="wrapper">
                <a href="/"> <img src="{% static 'img/logo.png' %}" alt=""> Главная</a>
                <a href="about"> <img src="{% static 'img/icons/aboutus.png' %}" alt=""> О нас</a>
                <a href="market"> <img src="{% static 'img/icons/shop2.png' %}" alt=""> Курсы </a>
                <a href="orders"> <img src="{% static 'img/icons/shopping-bag.png' %}" alt=""> Заказы</a>
                <a href="favorite"> <img src="{% static 'img/icons/heart.png' %}" alt=""> Избранное</a>
                <a href="#"> <img src="{% static 'img/icons/shopping-cart.png' %}" alt=""> Кoрзина</a>
                <a href="sale"> <img src="{% static 'img/icons/akciya.png' %}" alt=""> Акции</a>
                <a href="#"> <img src="{% static 'img/icons/help.webp' %}" alt=""> Помощь</a>
                <a href="login"> <img src="{% static 'img/icons/user.png' %}" alt=""> Войти</a>
            </div>

        </div>
    </div>

    <div class="wrapper">
        <div class="second-nav">
            <div class="link-nav">
                <img src="{% static 'img/icons/aboutus.png' %}" alt=""><a href="about">О нас</a>
            </div>
            <div class="link-nav">
                <img src="{% static 'img/icons/shop2.png' %}" alt=""><a href="market">Курсы</a>
            </div>
            <div class="link-nav">
                <img src="{% static 'img/icons/akciya.png' %}" alt=""><a href="sale">Акции</a>
            </div>
            <div class="link-nav">
                <img src="{% static 'img/icons/help.webp' %}" alt=""><a href="#">Помощь</a>
            </div>
        </div>
    </div>

    <div class="search-header-mobile">
        <input type="text" placeholder="Искать товары:">
        <button><img src="{% static 'img/icons/search.png' %}" alt=""></button>
    </div>

    <!-- <div class="slider">
            <div class="slides">
                <input type="radio" name="r" id="r1" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <input type="radio" name="r" id="r4">

                <div class="slide s1"><img src="./images/slider3.webp" alt=""></div>
                <div class="slide"><img src="./images/slider2.webp" alt=""></div>
                <div class="slide"><img src="./images/slider1.png" alt=""></div>
                <div class="slide"><img src="./images/DzGsCl_UwAIpeaU.jpeg" alt=""></div>
            </div>

            <div class="navigation">
                <label for="r1" class="bar"></label>
                <label for="r2" class="bar"></label>
                <label for="r3" class="bar"></label>
            </div>
        </div> -->

    <section id="slider">
        <div class="slideshow-container">

            <div class="mySlides fade">
                <img src="{% static 'img/banners/first.png' %}" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="{% static 'img/banners/second.png' %}" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="{% static 'img/banners/third.png' %}" style="width:100%">
            </div>

        </div>

        <div style="text-align:center" class="dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </section>

    <section id="categories">
        <div class="wrapper">

            <div class="name">
                <h1>Категории</h1>
                <a href="market">Просмотреть все<i class="fa fa-long-arrow-right" style="margin-left:10px"
                        aria-hidden="true"></i></a>
            </div>

            <div class="row">
                <div class="card">
                    <img src="{% static 'img/mebel.png'%}" alt="">
                    <a href="#">Мебель</a>
                </div>
                <div class="card card2">
                    <img src="{% static 'img/sport.png'%}" alt="">
                    <a href="#">Спорт</a>
                </div>
                <div class="card">
                    <img src="{% static 'img/tehnika.png'%}" alt="">
                    <a href="#">Электроника</a>
                </div>
            </div>

            <div class="row">
                <div class="card card3">
                    <img src="{% static 'img/eda.png'%}" alt="">
                    <a href="#">Продукты питания</a>
                </div>
                <div class="two-cards">
                    <div class="card card3">
                        <img src="{% static 'img/medicina.png'%}" alt="">
                        <a href="#">Медицина</a>
                    </div>
                    <div class="card card3">
                        <img src="{% static 'img/books.png'%}" alt="" width="200px">
                        <a href="#">Книги</a>
                    </div>
                </div>
                <div class="card card3">
                    <img src="{% static 'img/kids.png'%}" alt="">
                    <a href="#">Для детей</a>
                </div>
            </div>
        </div>
    </section>

    <section id="products">
        <div class="wrapper">
            <div class="name">
                <h1>Новинки</h1>
                <a href="market">Просмотреть все<i class="fa fa-long-arrow-right" style="margin-left:10px"
                        aria-hidden="true"></i></a>
            </div>
            <div class="flex">
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'img/lays.jpg'%}" alt="">
                            <h2>Lays</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart" onclick="tap()">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'img/rafaello.png'%}" alt="">
                            <h2>Rafaello</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'img/magnat.jpg'%}" alt="">
                            <h2>Magnat</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'img/chupa.png'%}" alt="">
                            <h2>Rafaello</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="ads">
        <div class="wrapper">
            <img src="{% static 'img/reklama1.png'%}" alt="">
        </div>
    </section>

    <section id="products">
        <div class="wrapper">
            <div class="name">
                <h1>Хиты недели</h1>
                <a href="market">Просмотреть все<i class="fa fa-long-arrow-right" style="margin-left:10px"
                        aria-hidden="true"></i></a>
            </div>
            <div class="flex">
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'img/rafaello.png'%}" alt="">
                            <h2>Rafaello</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'img/magnat.jpg'%}" alt="">
                            <h2>Magnat</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'img/chupa.png'%}" alt="">
                            <h2>Chupa-Chups</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'img/lays.jpg'%}" alt="">
                            <h2>Lays</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex" style="margin-top: 20px;">
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'img/gorilla.jpg'%}" alt="">
                            <h2>Gorilla</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в
                                    избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'img/depovskoe.png'%}" alt="">
                            <h2>Молоко</h2>
                            <p>Деповское</p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'img/eggs.jpg'%}" alt="">
                            <h2>Яйца</h2>
                            <p>Куринные</p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="inner-card">
                        <div class="heart">
                            <i class="fa fa-heart-o" aria-hidden="true"> <span>Добавить в избранное</span></i>
                        </div>
                        <div class="inner-info">
                            <img src="{% static 'img/mersi.jpg'%}" alt="">
                            <h2>Mersi</h2>
                            <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
                        </div>
                        <div class="inner-desc">
                            <p>300 ml</p>
                            <p> <span>700 ₸</span></p>
                        </div>
                        <div class="inner-btn">
                            <button class="default">В корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="ads">
        <div class="wrapper">
            <img src="{% static 'img/reklama2.png' %}" alt="">
        </div>
    </section>

    <section id="pre-footer">
        <div class="wrapper">
            <div class="text">
                <h1>Выгода с доставкой</h1>
                <p>Подпишитесь и получайте промокоды, акции и подборки товаров на почту.</p>
            </div>
            <div class="search-footer">
                <input type="email" placeholder="Введите вашу почту:">
                <button>Подробнее</button>
            </div>
            <div class="text textp">
                <p>Нажимая «Подписаться» вы соглашаетесь с <span> Условиями использования сайта </span> и <span>
                        Политикой обработки
                        персональных данных. </span> </p>
            </div>
        </div>
    </section>

    <footer>
        <div class="wrapper">
            <hr>
            <div class="footer-inner">
                <div class="footer-flex">
                    <div class="logo">
                        <img src="{% static 'img/logo.png' %}" alt="">
                        <div class="icons">
                            <a href=""><img src="{% static 'img/icons/instagram-black.png' %}" alt=""></a>
                            <a href=""><img src="{% static 'img/icons/facebook.png' %}" alt=""></a>
                            <a href=""><img src="{% static 'img/icons/telegram-black.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="link">
                        <h3>Маркетплейс</h3>
                        <input type="checkbox" name="toggle" id="toggle" class="toggleMenu">
                        <label for="sub_m1" class="toggleMenu"><i class="fa"></i></label>
                        <div class="links" id="link1">
                            <a href="">О компании</a>
                            <a href="">Контакты</a>
                            <a href="">Вакансии</a>
                            <a href="">Реквизиты</a>
                            <a href="">Партнерская программа</a>
                            <a href="">Настоящий маркетплейс</a>
                        </div>
                        <hr>
                    </div>
                    <div class="link">
                        <h3>Покупателю</h3>
                        <input type="checkbox" name="toggle" id="toggle" class="toggleMenu">
                        <label for="sub_m1" class="toggleMenu"><i class="fa"></i></label>
                        <div class="links" id="link2">
                            <a href="">Помощь покупателю</a>
                            <a href="">Доставка</a>
                            <a href="">Акции</a>
                            <a href="">Оплата</a>
                            <a href="">Возврат</a>
                            <a href="">Промокоды</a>
                        </div>
                        <hr>
                    </div>
                    <div class="link">
                        <h3>Правовая информация</h3>
                        <input type="checkbox" name="toggle" id="toggle" class="toggleMenu">
                        <label for="sub_m1" class="toggleMenu"><i class="fa"></i></label>
                        <div class="links" id="link3">
                            <a href="">Условия пользования сайтом</a>
                            <a href="">Политика обработки персональных данных</a>
                            <a href="">Условия заказа и доставки</a>
                            <a href="">Правила сервиса</a>
                        </div>
                        <hr>
                    </div>
                    <div class="link">
                        <h3>Магазинам</h3>
                        <input type="checkbox" name="toggle" id="toggle" class="toggleMenu">
                        <label for="sub_m1" class="toggleMenu"><i class="fa"></i></label>
                        <div class="links" id="link4">
                            <a href="">Помощь магазинам</a>
                            <a href="">Приглашение к сотрудничеству</a>
                            <a href="">Вход в личный кабинет</a>
                        </div>
                        <hr>
                    </div>
                    <div class="logo mobile-logo">
                        <img src="{% static 'img/logo.png' %}" alt="">
                        <div class="icons">
                            <a href="https://www.instagram.com/tabigat_karbayev/"><img src="{% static 'img/icons/instagram-black.png' %}" alt=""></a>
                            <a href=""><img src="{% static 'img/icons/facebook.png' %}" alt=""></a>
                            <a href=""><img src="{% static 'img/icons/telegram-black.png' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous">
    </script>
    <script src="{% static 'js/main.js'%}"></script>
</body>

</html>
